on post-fs-data
    mkdir /data/connsyslog 0775 system system

service connsyslogger /system/bin/connsyslogger
    class main
    user shell
    group log system shell radio sdcard_rw inet sdcard_r media_rw bluetooth gps wifi

on property:persist.vendor.em.dy.debug=1
    stop connsyslogger
