
on property:ro.secureboot.devicelock=1 && property:ro.boot.verifiedbootstate=green
    setprop ro.secureboot.lockstate locked

on property:ro.secureboot.devicelock=1 && property:ro.boot.verifiedbootstate=orange
    setprop ro.secureboot.lockstate unlocked


on property:ro.secureboot.devicelock=1
    setprop ro.secureboot.lockstate unknown
