on property:vendor.kpdpwr.reset.enabled=0
    mount debugfs debugfs /sys/kernel/debug
    chmod 0755 /sys/kernel/debug
    chmod 0766 /sys/kernel/debug/rt-regmap/mt6360_pmu.5-0034/reg0x2a

    write /sys/bus/platform/devices/mt-pmic/pmic_access "a3a 4729"
    write /sys/bus/platform/devices/mt-pmic/pmic_access "a12 05e0"
    write /sys/kernel/debug/rt-regmap/mt6360_pmu.5-0034/reg0x2a "0xc00"

on property:vendor.kpdpwr.reset.enabled=1
    write /sys/bus/platform/devices/mt-pmic/pmic_access "a3a 4729"
    write /sys/bus/platform/devices/mt-pmic/pmic_access "a12 25e0"
    write /sys/kernel/debug/rt-regmap/mt6360_pmu.5-0034/reg0x2a "0x400"
    umount /sys/kernel/debug
