on post-fs-data
    mkdir /data/log_temp 0755 system system
#   mkdir /data/log_test 0755 system system
    mkdir /data/misc/mblog 0755 system system
    mkdir /data/debuglogger 0770 shell log

service mobile_log_d /system/bin/mobile_log_d
    class main

service mmedialogstart /system/bin/mobile_log_d --ftrace mmedia
    oneshot
    disabled

service bsplogstart /system/bin/mobile_log_d --ftrace bsp
    oneshot
    disabled

service trace_buf_off /system/bin/mobile_log_d --ftrace off
    oneshot
    disabled

service mobile_log_d_contorl /system/bin/mobile_log_d --control copy
    oneshot
    disabled

service mobile_log_d_sublog_config /system/bin/mobile_log_d --control sublog_config
    oneshot
    disabled

on property:vendor.MB.control=copy
    start mobile_log_d_contorl

on property:vendor.MB.sublog_config=*
    start mobile_log_d_sublog_config

# ftrace log buffer control
on property:vendor.MB.ftrace.log=mmedia
    start mmedialogstart

on property:vendor.MB.ftrace.log=bsp
    start bsplogstart

on property:vendor.MB.ftrace.log=off
    start trace_buf_off

# MTK PR_DEBUG SWITCH
on property:vendor.MB.prdebug=1
    write /sys/kernel/debug/dynamic_debug/control "file *mediatek* +p"
    write /sys/kernel/debug/dynamic_debug/control "file *gpu* -p"
on property:vendor.MB.prdebug=0
    write /sys/kernel/debug/dynamic_debug/control "file *mediatek* -p"
